/* login-style.css */

/* Container */
.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Background image */ /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    
    background-size: cover;
    background-position: center;
}

/* Form */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
body {
    background-image: url('.jpg'); /* Replace 'image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);  /* White color with 80% opacity */
}

